nav{width:100%;height:6vh;
    display:flex;
    align-items: center;
    backdrop-filter: blur(10px);
    position:fixed;
}
nav ul{width:120px;margin-right:auto;display:flex;list-style:none;height:auto;
}
nav ul li{font-size:1.4rem;padding:6px 10px;cursor:pointer;
}

nav ul li:hover{animation:animation1 2s linear 0s infinite normal;}

nav div{width:120px;margin-left: auto;}
.logos{font-size:40px;margin:5px 10px;}

#gitHub{color:#aaaaaa;transition:color .2s ease-in-out;}
#gitHub:hover{color:white;}

#linkedin{color:blue;transition:color .2s ease-in-out;}
#linkedin:hover{color:lightblue}

@keyframes animation1{
    25%{color:black}
    50%{color:white}
    75%{color:black}
    100%{color:white}
}

@media only screen and (max-width:1100px){

nav ul li{font-size:1.1rem;font-weight:bolder;}

}